<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>contractlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71503F121F7AD7A100E27012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71503F291F7AD7A200E27012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71503F341F7AD7A200E27012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
